{% extends 'layout.html' %}
{% block content %}
{% if endpoint_set %}
    <form method="post" action="">
        {{ scanform.hidden_tag() }}
        <div class="row g-3 align-items-center">
            <div class="col-auto">
                {{ scanform.ip.label}}  <!-- Label -->
            </div>
            <div class="col-auto">
                {{ scanform.ip(class="form-control form-control-lg") }}
            </div>
            <div class="col-auto">
                {{ scanform.submit(class="btn btn-secondary") }} <!-- Submit button -->
            </div>
        </div>
    </form>
    {% if data %}
        {% for host_ip in data["hosts"].split() %}
        <div>
            {{ host_ip }}
        </div>
        {% endfor %}
    {% endif %}

{% endif %}
{% endblock %}