{% extends 'layout.html' %} 
{% block content %} 
{% if endpoint_set %}
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <form method="post" action="">
        {{ scanform.hidden_tag() }}
        <div class="row g-3 align-items-center">
          <div class="col-auto">
            {{ scanform.ip.label}}
            <!-- Label -->
          </div>
          <div class="col-auto">
            {{ scanform.ip(class="form-control form-control-lg") }}
          </div>
          <div class="col-auto">
            {{ scanform.scan_type(class="form-control")}}
          </div>
          <div class="col-auto">
            {{ scanform.submit(class="btn btn-secondary") }}
            <!-- Submit button -->
          </div>
        </div>
      </form>
    </div>
    <div class="col">
            
        {% if data %}
        <div class="container-fluid border border-black border-2 rounded p-3">
                {% for host_ip in data["hosts"].split('#') %}
                <div class="row mt-3">
                    {{ host_ip }}
                </div>
                {% endfor %}
        </div>
        {% endif %}
    </div>
  </div>
</div>

<!-- {% if data %}
        {% for host_ip in data["hosts"].split('#') %}
        <div>
            {{ host_ip }}
        </div>
        {% endfor %}
    {% endif %} -->

{% endif %} 
{% endblock %}
